.input-date-container{
    text-align: left;
    width: fit-content;
    width: 100%;

    label{
        margin: 0;
    }

    input{
        display: flex;
        box-sizing: border-box;
        width: 100%;
        font-size: var(--text-size);
        border: 3px var(--green) solid;
        border-radius: 10px;
        padding: .5em;
        justify-content: space-between;
        font-family: var(--font-family);
        font-size: var(--text-size);
        padding-right: auto;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        margin-left: 119px;
        cursor: pointer;
    }

    .error{
        border-color: #dd0000;
    }
}