
.favorite-button{
    display: flex;
    font-size: var(--icon);
    align-items: center;
}

.saved{
    /* color: #dabb0c; */

    path{
        stroke: black;
        stroke-width: 40px;
        fill: #f4d211;
    }
}