.searchbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .arrow-button{
        margin-right: .3em;
        display: flex;
        align-items: center;
    }

    .searchbar{
        display: flex;
        position: relative;
        width: fit-content;
        justify-content: center;
        /* overflow: hidden; */

        .searchbar-input{
            font-size: var(--text-size);
            /* font-size: 12pt; */
            border-radius: 25px;
            /* padding: .3em .5em .3em .5em; */
            padding: .5em .5em .5em .5em;
            box-sizing: border-box;
            border: solid 2px #000;
            box-sizing: border-box;
            width: 350px;
        }

        .search-button{
            font-size: var(--text-size);
            padding: .3em;
            margin: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            position: absolute;
            top: .3em;
            right: .3em;
        }
    }

    .filters{
        display: flex;
        align-items: center;
        padding: 0.5em;
        margin: 0;
        margin-left: .2em;
    }
}

@media (max-width: 750px){
    .searchbar-container{
        width: 100% !important;
    }
    .searchbar{
        /* width: 300px !important; */
        width: 100% !important;
        justify-content: right !important;
        height: 43px;
        /* padding-right: .5em; */
    }
    .searchbar-input{
       position: absolute;
       /* height: 100%; */
       /*left: 100% !important;
       right: 100%;*/
       /* right: 0 !important; */
       width: 2em;
       opacity: 0;
       /* margin-right: .3em; */
       transition: width 0.3s ease, opacity 0.4s ease;
    }
    .searchbar-input.mobile{
        /* left: 0 !important; */
        width: 100% !important;
        opacity: 1;
        /* margin-right: .3em; */
    }
    /*.filters{
        display: none !important;
    }
    .filters-show{
        display: flex;
        padding: 0.3em;
        margin-left: .2em;
    }*/
    .search-button{
        /* font-size: var(--big-icon) !important; */
        /* padding: 0 !important; */
        position: relative !important;
        /* padding: 0 !important; */
        height: fit-content;
        /* left: 0 !important; */
    }

    .hidden{
        display: none;
    }
}

@media (max-width: 450px){
    
}