.searchbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    
    .arrow-button{
        margin-right: .3em;
        display: flex;
        align-items: center;
    }

    .searchbar{
        display: flex;
        flex-direction: column;
        position: relative;
        width: fit-content;
        justify-content: center;
        width: 350px;

        .searchbar-input{
            font-size: var(--text-size);
            border-radius: 25px;
            padding: .3em .5em .3em .5em;
            box-sizing: border-box;
            border: solid 2px #000;
            box-sizing: border-box;
            
        }

        .search-button{
            font-size: var(--text-size);
            padding: .3em;
            margin: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            position: absolute;
            top: .1em;
            right: .3em;
        }
    }

    .filters{
        display: flex;
        align-items: center;
        padding: 0.5em;
        margin: 0;
        margin-left: .2em;
    }
}

.red-indicator{
    width: .7em;
    height: .7em;
    background-color: #ff2727;
    border: solid #000 2px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

@media (max-width: 600px){
    .searchbar-container{
        width: 100% !important;
    }
    .searchbar{
        width: 100% !important;
        height: 43px;
        align-items: end;
        justify-content: end;
    }
    .searchbar-input{
       position: absolute;
       width: 2em;
       opacity: 0;
       transition: width 0.3s ease, opacity 0.4s ease;
    }
    .searchbar-input.mobile{
        width: 100% !important;
        opacity: 1;
    }
    .search-button{
        position: relative !important;
        height: fit-content;
        width: fit-content;
    }

    .hidden{
        display: none;
    }
}

@media (max-width: 450px){
    
}