.filters-pannel.closed{
    transform: translateX(100%);
}

.filters-pannel{
    position: fixed;
    right: 0;
    top: 4em;
    background-color: var(--green);
    padding: 1em;
    transform: translateX(0);
    transition: transform 0.3s ease;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 540px;
    overflow: auto;
    z-index: 2;

    .btns-horizontal{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        margin-bottom: 1em;
    }

    .close-button{
        font-size: 16pt;
    }

    h1{
        font-size: 26pt;
        margin: 0;
        margin-bottom: .3em;
    }

    h2{
        font-size: 18pt;
        margin: 0;
        text-align: left;
        margin-bottom: .2em;
    }

    .filter-section{
        border-top: 1px #5aba85 solid;
        padding: .5em 0 .5em 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    .species-section{
        gap: 0;

        h2{
            margin-bottom: .7em;
        }
    }

    .filter-section-general{
        border-bottom: 1px #5aba85 solid;
        margin-bottom: 1em;
    }

    .results{
        margin: 0;
        margin-bottom: .5em;
        font-style: italic;
        color: #4A4A4A;
    }

    /* .chip-list{
        margin-bottom: .5em;
    } */

    .input-date-container, .select-container, .input-number-container, .favourite{
        margin-top: .8em;
    }
}