.filters-pannel.closed{
    transform: translateX(100%);
}

.filters-pannel{
    position: fixed;
    right: 0;
    top: 4em;
    background-color: var(--green);
    padding: 1em;

    transform: translateX(0);
    transition: transform 0.3s ease;

    width: 320px;
    display: flex;
    flex-direction: column;
    gap: .3em;
    max-height: 540px;
    overflow: auto;

    z-index: 2;

    .btns-horizontal{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        margin-bottom: 1em;
    }
}