.logo-container{
    display: flex;
    border-radius: 100%;
    background-color: #fff;
    height: fit-content;
    width: fit-content;
    padding: .3em;
    overflow: hidden;

    svg{
        font-size: 32px;
    }

    .logo{
        width: 500px;
        overflow: hidden;
    }
}