.map-controls-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 68px;
    z-index: 1;
    gap: .5em;
}

.but-map-options{
  display: flex;
  padding: .3em;
  position: absolute;
  z-index: 2;
  top: calc(40% + 100px);
  right: 8px;
}

.map-options{
  width: 30% !important;
  max-height: fit-content !important;
}

.map-options .dialog-content{
  gap: 1.5em;
  flex-direction: column;
  justify-content: start;
  max-height: fit-content !important;
  align-items: start;

  h1{
    margin-bottom: 0;
    font-size: 24pt;
  }

  /*.select-container, button{
    max-width: 200px;
  }*/

  
}

.maplibregl-map{
    position: absolute;
    top: 0;
    right: 0;
}

.maplibregl-ctrl-top-right{
    top: 40%;
}

.maplibregl-popup-content, .maplibregl-popup, .maplibregl-popup-anchor-bottom {
    max-width: none !important;
    width: fit-content;
    max-height: none !important;
    height: fit-content;
    padding: 0;
    background-color: transparent;
}

.maplibregl-popup{
    /*max-width: 240px;
    transform: translate(-50%, 0px) translate(201px, 184px);*/
}

.maplibregl-popup-close-button{
    display: none;
}

.marker-image, .marker-audio{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    /* position: relative; */
}

.marker-image, .marker-pulse-image{
    background-color: #d8e356;
}

.marker-audio, .marker-pulse-audio{
    background-color: #3c94e7;
}


/*.marker-pulse-audio {
  width: 20px;
  height: 20px;
  background: #3c94e7;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
}


.marker-pulse-audio::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #3c94e7;
  border: 2px solid white;
  border-radius: 50%;
  top: 0;
  left: 0;
}


.marker-pulse-audio::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #3c94e7;
  border: 2px solid white;
  border-radius: 50%;
  top: 0;
  left: 0;
  animation: pulse 1.5s infinite;
  opacity: 0.6;
}


.marker-pulse-image {
  width: 20px;
  height: 20px;
  background: #d8e356;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
}


.marker-pulse-image::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #d8e356;
  border: 2px solid white;
  border-radius: 50%;
  top: 0;
  left: 0;
}


.marker-pulse-image::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #d8e356;
  border: 2px solid white;
  border-radius: 50%;
  top: 0;
  left: 0;
  animation: pulse 1.5s infinite;
  opacity: 0.6;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}*/

.marker-pulse-audio,
.marker-pulse-image {
  width: 23px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

.marker-pulse-audio {
  .dot, .pulse{
    background: #3c94e7;
  }
}

.marker-pulse-image {
  .dot, .pulse{
    background: #d8e356;
  }
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 2;
}

.pulse {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  opacity: 0.6;
  animation: pulse 1.5s infinite;
  z-index: 1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.park-select{
  position: absolute;
  bottom: 0;
  left: 68px;
  z-index: 100;
  width: max-content !important;
}

@media all and (max-width: 600px){
  .park-select{
    left: 3px;
  }
}