.map-controls-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    left: 64px;
    z-index: 1;
}

.maplibregl-map{
    position: absolute;
    top: 0;
    right: 0;
}

.maplibregl-ctrl-top-right{
    top: 45%;
}