.normal-button-primary, .normal-button-secondary{
    font-size: var(--text-size);
    padding: .5em;
    border: 2px solid black;
    border-radius: 7px;
    background-color: var(--green);
    cursor: pointer;
    width: fit-content;
}

.normal-button-primary:hover{
    background-color: var(--green-hover);
}

.normal-button-primary:active{
    background-color: var(--green-active-dark);
}

.normal-button-primary:disabled, .normal-button-secondary:disabled{
    background-color: var(--green-active-light);
    border-color: var(--black-disabled);
}

.normal-button-secondary{
    background-color: var(--green-active-light);
}

.normal-button-secondary:hover{
    background-color: var(--green-hover-secondary);
}

.normal-button-secondary:active{
    background-color: var(--green-hover);
}

.icon-button{
    font-size: var(--text-size);
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.close-button{
    font-size: 32px;
    position: absolute;
    top: .5em;
    right: .5em;
}