/* Variables CSS*/
:root {
  --text-colour: #000;
  --text-size: 20px;
  --text-size-small: 16px;
  --h1-size: 36px;
  --h1-size-small: 18px;
  --h2-size: 28px;
  --h2-size-small: 24px;
  --h3-size: 22px;
  --icon: 24px;
  --big-icon: 40px;
  --green: #87ffc9;
  --green-hover: #5fe1a7;
  --green-hover-secondary: #abe8cd;
  --green-active-light: #d2ffeb;
  --green-active-dark: #3cd590;
  --black-disabled: #8a8a8a;
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
}