.marker-info-container{
    z-index: 100;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: fit-content;
    max-height: 450px;
    border: solid 3px var(--green-active-dark);
    box-sizing: border-box;
    word-break: break-all;
    text-align: center;

    .image-wrapper{
        height: 180px;
        width: 200px;
        position: relative;
        margin-bottom: .5em;
    }

    .info-img{
        height: 180px;
        width: auto;
        max-width: 200px;
        object-fit: cover;
        object-position: center;
        margin-bottom: .2em;
    }

    .rpi{
        margin-top: 1em;
        margin-bottom: 2em;
        width: 230px;
        height: auto;
    }

    audio{
        margin-top: 1.5em;
        margin-bottom: 5em;
        max-width: 270px;
    }

    .source{
        position: absolute;
        top: 2px;
        left: 2px;
        margin: 0;
        border-top-left-radius: 12px;
        border-bottom-right-radius: 15px;
        padding: .3em;
        font-weight: bold;
        font-size: var(--text-size-small);
        box-sizing: border-box;
    }

    .eBird{
        background-color: var(--green);
    }

    .RPI{
        background-color: #e0f02d;
    }

    .RPA{
        background-color: #85c4ff;
    }

    h1{
        font-size: var(--h1-size-small);
        margin-top: 1.7em;
        margin-bottom: 0;
    }

    .lat-name{
        font-style: italic;
        font-size: var(--text-size-small);
        margin-top: .1em;
        color: #5d5d5d;
        margin-bottom: .5em;
    }

    .info{
        display: flex;
        width: 100%;
        gap: .5em;
        font-weight: bold;
        font-size: var(--text-size-small);
        margin: 0;
        margin-top: .2em;
        padding-left: 2.5em;

        span{
            font-weight: normal;
        }
    }

    .info-margin-bottom{
        margin-bottom: 1.5em;
    }

    button{
        display: flex;
    }

    .save-button{
        font-size: var(--icon);
    }
    
    .chart-button{
        gap: .5em;
        align-items: center;
        font-size: var(--text-size);
        margin-top: 1em;
        padding: .3em;
        margin-bottom: 1em;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 45%;
        width: 97%;
        justify-content: space-between;
        
        .normal-button-primary{
            padding: .3em;
        }
    }

    .audio{
        top: 50%;
        width: 97%;
    }

    .pages{
        font-size: var(--text-size-small);
        display: flex;
        width: 100%;
        background-color: #cdffec;
        margin: 0;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        padding: .3em;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    .close-button{
        font-size: var(--text-size);
    }

    .actions{
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
        justify-content: center;
    }
}

.spinner-wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.without-detections{
    font-size: var(--text-size-small);

    h1{
        margin-bottom: 1em;
    }
    svg{
        font-size: var(--big-icon);
        color: #d9d9d9;
    }
}