header{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    position: absolute;
    top: 0;
    /* right: .3em; */
    right: 0;
    z-index: 1;
    padding: .3em !important;
    /* width: fit-content; */
    width: 100%;
    justify-content: right !important;
    box-sizing: border-box !important;
    .sidebar-container{
        display: none;
    }
}

@media (max-width: 600px) {
    header {
        .sidebar-container{
            display: flex;
            flex-direction: row;
            width: 100%;

            .sidebar{
                width: 100%;
            }
        }
    }
}