header{
    display: flex;
    flex-direction: row;
    gap: .5em;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
    padding: .3em !important;
    width: 100%;
    justify-content: right !important;
    box-sizing: border-box !important;
    .sidebar-container{
        display: none;
    }

    .language{
        width: fit-content;
    }

    .open-sidebar{
        display: none;
        font-size: var(--big-icon);
    }
}

@media (max-width: 600px) {
    header {
        background-color: #d2ffeb;
        border: solid #6a6a6a 1px;
        
        .sidebar-container{
            display: flex;
            flex-direction: row;
            width: 100%;

            .sidebar{
                width: 100%;
            }
        }

        .open-sidebar{
            display: flex;
            font-size: var(--big-icon);
        }
    }
}