/*.bird-list-element{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em .5em 1em;
    box-sizing: border-box;
    background-color: var(--green);
    gap: 3em;

    p{
        margin: 0;
    }

    .obs{
        font-weight: bold;
        
        span{
            font-weight: normal;
        }
    }

    .bird{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;

        .bird-image-link{
            order: 1;
        }
        .bird-image{
            width: auto;
            height: 100px;
        }

        .bird-names{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: .3em;
            order: 2;

            .scientific{
                font-style: italic;
            }
            .common{
                font-weight: bold;
            }
        }
    }

    .buttons{
        display: flex;
        flex-direction: row;
        gap: .5em;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }
}

@media (max-width: 780px){
    .bird-list-element{
        flex-direction: column;
        padding: 0;
        gap: 1em;

        .bird{
            padding: 1em 1em 0 1em;
            flex-direction: column;

            .bird-image-link{
                order: 2;

                .bird-image{
                    width: 100%;
                    height: auto;
                }
            }

            .bird-names{
                order: 1;
            }
        }

        .buttons{
            width: 100%;
            background-color: var(--green-active-light);
            padding: .3em;
            
        }

        .obs{
            margin-left: 1em;
            margin-right: 1em;
        }
    }
}*/

.bird-card{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* justify-content: center; */
    align-items: center;
    width: 300px;
    padding: 1em;
    padding-bottom: 0;
    background-color: var(--green-active-light);
    border: 5px solid var(--green);
    border-radius: 15px;

    /*.bird-image-link{
        display: flex;
        height: fit-content!;
    }*/

    .bird-image-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1; /* 👈 занимает всё свободное пространство */
    }

    .bird-image{
        width: 100%;
        max-height: 300px;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        gap: 1em;
        padding: .5em;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }

    .scientific{
        font-style: italic;
        margin-bottom: .7em;
        margin-top: .5em;
    }

    .common{
        font-weight: bold;
    }

    /*.spinner-wrapper{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        box-sizing: border-box;
    }*/

    .spinner {
        position: absolute;
        top: 40%;
        left: 44%;
        /* transform: translate(-50%, -50%); */
    }
}