.bird-card{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 300px;
    padding: 1em;
    padding-bottom: 0;
    background-color: var(--green-active-light);
    border: 5px solid var(--green);
    border-radius: 15px;
    word-break: break-all;
    text-align: center;

    .bird-image-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .bird-image{
        width: 100%;
        max-height: 300px;
    }

    .buttons{
        display: flex;
        flex-direction: row;
        gap: 1em;
        padding: .5em;
        margin-top: auto;
        display: flex;
        justify-content: space-between;
    }

    .scientific{
        font-style: italic;
        margin-bottom: .7em;
        margin-top: .5em;
    }

    .common{
        font-weight: bold;
    }

    .spinner {
        position: absolute;
        top: 40%;
        left: 44%;
    }

    .spinner-wrapper{
        z-index: 0;
    }

    .common, .scientific, .buttons{
        z-index: 2;
    }
}